<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/mainjs")
    @Styles.Render("~/bundles/maincss")

    @* Google fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

</head>
<body>
    <div id="wrapper">

        <!--sidebar -->
        <nav id="sidebar" class="shadow-lg">

            <!--sidebar logo-->
            <div id="sidebar-logo">
                <div id="logo">

                </div>
            </div>
            <div id="sidebar-strip" class="d-flex justify-content-center align-items-center">
                @Session["FullName"].ToString()
            </div>

            <!--main sidebar content-->
            <div id="sidebar-navigation">
                @Html.Partial(Session["Navigation"].ToString())
            </div>
        </nav>

        <!-- main content-->
        <div id="content">   
            <div id="overlayer"></div>
            <span id="loader"></span>
            <span id="loader2"></span>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>   
    @RenderSection("scripts", required: false)


</body>
</html>
<script type="text/javascript">
    $("#menu-toggle").click(function () {
        $("#sidebar").toggleClass("toggle");
    })

    //this methos also works

    //document.addEventListener("DOMContentLoaded", function () {
    //    $("#loader").delay().fadeOut("slow");
    //    $("#overlayer").delay().fadeOut("slow");
    //});

    //window.onload = function () {
    //    $("#loader").delay().fadeOut("slow");
    //    $("#loader2").delay().fadeOut("slow");
    //    $("#overlayer").delay().fadeOut("slow");
    //}

    //this also works but was throwing error
    $(window).on('load', function () {
        $("#loader").delay().fadeOut("slow");
        $("#loader2").delay().fadeOut("slow");
        $("#overlayer").delay().fadeOut("slow");
    })

    //table check all script
    $('#acheck2').click(function () {
        if ($('#acheck2').is(":checked")) {
            $("input[name='dcheck']").each(function () {
                $(this).prop('checked', true);
            });
        }
        else {
            $("input[name='dcheck']").each(function () {
                $(this).prop('checked', false);
            });
        };
    });

    $('#acexample tbody').on('change', 'input[type="checkbox"]', function () {
        var tab1 = $('#acexample').DataTable();
        var all = tab1.$('.selectclass').length;
        var chkd1 = tab1.$('input[name="dcheck"]:checked').length;
        var chkd2 = tab1.$('input[name="rowcheck"]:checked').length;


        if (chkd1 != 0) {

            if (all == chkd1) {
                $("#acheck1").prop('checked', true);
                $("#acheck2").prop('checked', true);
                $("#select_all").prop('checked', true);
            }
            else {
                $("#acheck1").prop('checked', false);
                $("#acheck2").prop('checked', false);
                $("#select_all").prop('checked', false);
            }
        }
        if (chkd2 != 0) {

            if (all == chkd2) {
                $("#acheck1").prop('checked', true);
                $("#acheck2").prop('checked', true);
                $("#select_all").prop('checked', true);
            }
            else {
                $("#acheck1").prop('checked', false);
                $("#acheck2").prop('checked', false);
                $("#select_all").prop('checked', false);
            }
        }
        if (chkd1 == 0 && chkd2 == 0) {
            $("#acheck1").prop('checked', false);
            $("#acheck2").prop('checked', false);
            $("#select_all").prop('checked', false);

        }


    });
</script>


