

@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/jquerytable_js")
@Styles.Render("~/bundles/jquerytable_css")

<div id="page-content-topbar">
    <div class="navbar navbar-expand-lg navbar-light border-bottom-0">

        <!--button for toggling the sidebar-->
        @Html.Partial("_TopLeft")

        <!-- current page indication by breadcrumb-->
        <div class="pt-3 ps-2 pe-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item n-active" aria-current="page">Resolution Master</li>
                </ol>
            </nav>
        </div>

        <!-- last login and logout-->
        @Html.Partial("_TopRight")
    </div>
</div>
<div id="main-content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-12 text-end">
                    <button type="button" class="btn btn-primary" id="add_resolution">
                        <i class="fa fa-plus"> </i> &nbsp; Add
                    </button>
                    <button type="button" class="btn btn-danger" id="deactivate_resolution">
                        <i class="fa fa-door-closed"> </i> &nbsp; Deactivate
                    </button>
                    <button type="button" class="btn btn-success" id="activate_resolution">
                        <i class="fa fa-door-open"> </i> &nbsp; Activate
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table id="acexample" class="table table-bordered text-center" style="width:100%">
                <thead>
                    <tr role="row">
                        <th class="col-1 text-center">
                            <div class="icheck-primary d-inline-block text-center">
                                <input type="checkbox" class="flat" id="acheck2">
                                <label for="acheck2">
                                </label>
                            </div>
                        </th>
                        <th class="text-center">Resolution</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Edit</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
             window.onload = function () {
                swal("@TempData["message"]", "", "@TempData["messagetype"]");
            };
    </script>
    TempData["message"] = null;
}


<script type="text/javascript">

    //load table
    var table;
    $(document).ready(function () {
        table = $('#acexample').dataTable({

            dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12 pt-3'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            aoColumns: [

                {
                        'bSortable': false,
                        'mRender': function (data, type, row) {

                            return '<div class="icheck-primary d-inline"><input type="checkbox" id="check-' + row.Id + '" ' + ($('#acheck2').is(":checked") ? 'checked' : '') + ' value="' + row.Id + '" name="dcheck", class="selectclass")><label for="check-' + row.Id + '"></label></div>';

                        }
                },
                { 'data': 'Resolution' },
                { 'mRender': function (data,type, row) { return row.Flag == true ? "Active" : "Deactive" } },
                {
                    'bSortable': false,
                    'mRender': function (data, type, row) {
                        return '<a class="btn btn-warning btn-sm" href=#  onclick=EditResolution(' + row.Id + ')> <i class="fa fa-pencil icon"></i>&nbsp&nbspEdit</a>';
                    }
                },

            ],
            ordering: false, //disable filtering ascending and descending
            bFilter: true,//Enables Filtering
            bServerSide: true,
            sAjaxSource:'@Url.Action("GetResolutions", "Resolution")',

         });
    });

    //add category
    $("#add_resolution").click(function () {
            window.location.href = '@Url.Action("Add", "Resolution")'
     })

    //editCategory redirect
    function EditResolution(id) {
        window.location.href = '@Url.Action("Edit", "Resolution")?resolutionId='+id;
    }

    //deactivate categories
    $("#deactivate_resolution").on("click", function () {

         var boxdata = [];
        $("input[name='dcheck']:checked").each(function () {
            boxdata.push($(this).val());
        })

        console.log(boxdata);

        if (boxdata.length === 0) {
            swal("Please select some records", "", "warning");
            return false;
        }

         $.ajax({
             type: "POST",
             data: { ids: boxdata.join(',') },
             url: '@Url.Action("Deactivate", "Resolution")',
             success: function (result) {
                 let data = result.split("*");
                 swal({
                     title: data[1],
                     icon: data[0],
                 })
                     .then((isConfirm) => {
                         if (isConfirm) {
                              window.location.href = "@Url.Content("~/Resolution/Index")/";
                         }
                     });

             },
             error: function (error) {
                 swal("Error occured!", "error");
             }
    })
    })

    //activate categories
    $("#activate_resolution").on("click", function () {

         var boxdata = [];
        $("input[name='dcheck']:checked").each(function () {
            boxdata.push($(this).val());
        })

        console.log(boxdata);

        if (boxdata.length === 0) {
            swal("Please select some records", "", "warning");
            return false;
        }

         $.ajax({
             type: "POST",
             data: { ids: boxdata.join(',') },
             url: '@Url.Action("activate", "Resolution")',
             success: function (result) {
                 let data = result.split("*");
                 swal({
                     title: data[1],
                     icon: data[0],
                 })
                     .then((isConfirm) => {
                         if (isConfirm) {
                              window.location.href = "@Url.Content("~/Resolution/Index")/";
                         }
                     });

             },
             error: function (error) {
                 swal("Error occured!", "error");
             }
    })
    })
</script>

