
@{
    ViewBag.Title = "Rejected";
}

<div id="page-content-topbar">
    <div class="navbar navbar-expand-lg navbar-light border-bottom-0">

        <!--button for toggling the sidebar-->
        @Html.Partial("_TopLeft")

        <!-- current page indication by breadcrumb-->
        <div class="pt-3 ps-2 d-none d-md-block">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item n-active" aria-current="page">Pending</li>
                </ol>
            </nav>
        </div>

        <!-- last login and logout-->
        @Html.Partial("_TopRight")
    </div>
</div>
<div id="main-content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-12 col-md-3">
                    <label>From Date</label>
                    <input type="date" class="form-control" id="fromdate" />
                </div>
                <div class="col-12 col-md-3">
                    <label>To Date</label>
                    <input type="date" class="form-control" id="todate" />
                </div>
                <div class="col-12 col-md-2 pt-4">
                    <button type="button" class="btn btn-primary" id="reload">Reload</button>
                </div>
                @*<div class="col-12 col-md-4 text-end pt-4">
                    <button type="button" class="btn btn-success" id="approve">
                        Approve
                    </button>
                    <button type="button" class="btn btn-danger" id="reject">
                        Reject
                    </button>
                </div>*@
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table id="acexample" class="table table-bordered text-center" style="width:100%">
                <thead>
                    <tr role="row">
                        <th class="col-1 text-center">
                            <div class="icheck-primary d-inline-block text-center">
                                <input type="checkbox" class="flat" id="acheck2">
                                <label for="acheck2">
                                </label>
                            </div>
                        </th>
                        <th class="text-center">Image Name</th>
                        <th class="text-center">Uploader</th>
                        <th class="text-center">Size (in MB)</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
             window.onload = function () {
                swal("@TempData["message"]", "", "@TempData["messagetype"]");
            };
    </script>
    TempData["message"] = null;
}

<script type="text/javascript">
     //load table
    var table;
    $(document).ready(function () {

        table = $('#acexample').dataTable({

            dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12 pt-3'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",

            aoColumns: [

                {
                        'bSortable': false,
                        'mRender': function (data, type, row) {

                            return '<div class="icheck-primary d-inline"><input type="checkbox" id="check-' + row.Id + '" ' + ($('#acheck2').is(":checked") ? 'checked' : '') + ' value="' + row.Id + '" name="dcheck", class="selectclass")><label for="check-' + row.Id + '"></label></div>';

                        }
                },
                { 'data': 'Name' },
                { 'data': 'Uploader' },
                { 'data': 'Size' },
               /* { 'mRender': function (data, type, row) { return row.IsVerified == true ? "Verified" : "Not verified" } },*/
                {
                    'bSortable': false,
                    'mRender': function (data, type, row) {
                        return '<a  href=#  onclick=ViewImage(' + row.Id + ')>View</a>';
                    }
                },

            ],
            ordering: false, //disable filtering ascending and descending
            bFilter: true,//Enables Filtering
            bServerSide: true,
            sAjaxSource: '@Url.Action("GetImages", "ImageApprove")',
            fnServerParams: function (aoData) {
                aoData.push(
                    { "name": "fromdate", "value": $("#fromdate").val() },
                    { "name": "todate", "value": $("#todate").val() },
                    { "name": "type", "value": "pending"}
                )
            }

         });
    });

    $("#reload").click(function () {
        console.log("reload");
        $('#acexample').DataTable().ajax.reload();
    })

    function ViewImage(Id) {
        window.location.href = "@Url.Action("ViewImage", "ImageApprove")?id=" + Id;
    }
</script>

