@model Image.ImageUpload
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@Styles.Render("~/content/assets/css/imagecard.css")

<style>
    .brandimageinternal {
        width: 150px;
        height: 150px;
        border: 1px solid black;
        border-radius: 50%;
    }
</style>
<div id="area-profile" class="d-flex justify-content-center">
    <div>
        <div class="profile-image1 mb-2">
            <div class=" text-center">
                <a class="navbar-brand" href="#">
                    <img src="@Session["ProfileImage"].ToString().Trim('~')"
                         class="rounded-pill brandimageinternal">
                </a>
            </div>
            <div class="username text-center">
                @Session["FullName"].ToString()
            </div>
        </div>
        <div class="editbutton text-center mb-3">
            <a href="@Url.Content("~/UploaderProfile/Index")" class="btn btn-primary"> <i class="fa fa-pen"></i> Edit profile</a>
        </div>
        <div class="viewslikes">
            <div class="row">
                <div class="col-4">
                    <div class="vl-name ">Views</div>
                    <div>0</div>
                </div>
                <div class="col-3">
                    <div class="vl-name">Likes</div>
                    <div>0</div>
                </div>
                <div class="col-4">
                    <div class="vl-name">Uploaded</div>
                    <div>0</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="self-collection" class="position-relative">
    <div class="nav nav-tabs position-sticky pt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="top:75px;z-index:50;background-color:white">
        <button class="nav-link active p-2" id="v-pills-myuploads-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-myuploads" type="button" role="tab" aria-controls="v-pills-myuploads"
                aria-selected="true">
            My uploads
        </button>
        <button class="nav-link p-2" id="v-pills-pending-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-pending" type="button" role="tab" aria-controls="v-pills-pending"
                aria-selected="false">
            Pending
        </button>
        <button class="nav-link p-2" id="v-pills-rejected-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-rejected" type="button" role="tab" aria-controls="v-pills-rejected"
                aria-selected="false">
            Rejected
        </button>
        <button class="nav-link p-2" id="v-pills-upload-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-upload" type="button" role="tab" aria-controls="v-pills-upload"
                aria-selected="false">
            Upload
        </button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade  show active position-relative" id="v-pills-myuploads" role="tabpanel"
             aria-labelledby="v-pills-myuploads-tab">

            <div class="row mt-4 position-sticky p-3" style="top:131px;z-index:50;background-color:white">
                <div class="col-12 col-md-3 mb-2 mb-md-0">
                    @Html.Editor("search_byname", new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Search...", @id = "search_byname" } })
                </div>
                <div class="col-4 col-md-3">
                    @Html.DropDownList("search_category", new List<SelectListItem> { new SelectListItem { Text = "Choose category", Value = "0" } }, new { @class = "form-control", @id = "search_category" })
                </div>
                <div class="col-4 col-md-3">
                    @Html.DropDownList("search_resolution", new List<SelectListItem> { new SelectListItem { Text = "Choose resolution", Value = "0" } }, new { @class = "form-control", @id = "search_resolution" })
                </div>
                <div class="col-4 col-md-3">
                    @Html.DropDownList("sortby", new List<SelectListItem> { new SelectListItem { Text ="Sort by", Value=""},
                                                                            new SelectListItem { Text = "Name", Value="N" },
                                                                            new SelectListItem { Text="Date Uploaded", Value="DU"}
                                                                            }, new { @class = "form-control", @id = "sortby" })
                </div>
            </div>

            <div class="main-container">
                <div class="gallery-wrapper">
                    <div class="photo-gallary" id="galarytype1-a">
                        <div class="columns" id="column1-a"></div>
                        <div class="columns" id="column2-a"></div>
                        <div class="columns" id="column3-a"></div>
                    </div>
                    <div class="photo-gallary" id="galarytype2-a">
                        <div class="columns" id="column4-a"></div>
                        <div class="columns" id="column5-a"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane fade" id="v-pills-pending" role="tabpanel"
             aria-labelledby="v-pills-pending-tab">
            <div class="main-container">
                <div class="gallery-wrapper">
                    <div class="photo-gallary" id="galarytype1-p">
                        <div class="columns" id="column1-p"></div>
                        <div class="columns" id="column2-p"></div>
                        <div class="columns" id="column3-p"></div>
                    </div>
                    <div class="photo-gallary" id="galarytype2-p">
                        <div class="columns" id="column4-p"></div>
                        <div class="columns" id="column5-p"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="v-pills-rejected" role="tabpanel"
             aria-labelledby="v-pills-rejected-tab">
            <div class="main-container">
                <div class="gallery-wrapper">
                    <div class="photo-gallary" id="galarytype1-r">
                        <div class="columns" id="column1-r"></div>
                        <div class="columns" id="column2-r"></div>
                        <div class="columns" id="column3-r"></div>
                    </div>
                    <div class="photo-gallary" id="galarytype2-r">
                        <div class="columns" id="column4-r"></div>
                        <div class="columns" id="column5-r"></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="tab-pane fade" id="v-pills-upload" role="tabpanel"
             aria-labelledby="v-pills-upload-tab">
            <div id="outer-browse">
                <div class="container fileupload">
                    <div class="card">
                        <h3>Upload File</h3>
                        <div class="drop_box">

                            <div class="drop_box1">
                                <header>
                                    <h4>Select File here</h4>
                                </header>
                                <p>Files Supported: JPG</p>
                                <button class="btn">Choose File</button>
                            </div>

                            @using (Html.BeginForm("Upload", "ImageUploader", FormMethod.Post, new { enctype = "multipart/form-data", @class = "w-100 mt-3", @id = "Uploadform" }))
                            {
                                <div class="form-group row w-100 mb-2">
                                    <div class="col-sm-3">
                                        @Html.LabelFor(model => model.Name)
                                        <small class="text-danger">*</small>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    </div>

                                </div>
                                <div class="form-group row w-100 mb-2">
                                    <div class="col-sm-3">
                                        @Html.LabelFor(model => model.Category)
                                        <small class="text-danger">*</small>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.Category, new List<SelectListItem> { }, new { @class = "form-control" })
                                    </div>

                                </div>
                                <div class="form-group row w-100 mb-2">
                                    <div class="col-sm-3">
                                        @Html.LabelFor(model => model.Resolution)
                                        <small class="text-danger">*</small>
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.Resolution, new List<SelectListItem> { }, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group row w-100 mb-2">
                                    <div class="col-sm-3">
                                        @Html.LabelFor(model => model.ImageSize)
                                    </div>
                                    <div class="col-sm-9">

                                        <div class="input-group">
                                            @Html.EditorFor(model => model.ImageSize, new { htmlAttributes = new { @class = "form-control", @type = "number", @readonly = true, @Placeholder = "0" } })
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">MB</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group row w-100 mb-2">
                                    <div class="col-sm-3">
                                        @Html.LabelFor(model => model.Tags)
                                    </div>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                                        <small class="text-primary">Enter tags seperated by comma. Accepts only first 5 tags</small>
                                    </div>
                                </div>
                                <input type="file" hidden accept=".jpg" name="ImageFile" id="ImageFile" style="display:none;" />
                                <div class="drop_box2 text-center mt-2">
                                    <h4 id="filename"></h4>
                                    <button class="btn" type='submit' id="upload"><i class="spinner-grow spinner-grow-sm" id="upload-loader" style="display:none"></i><span id="upload-text">Upload</span></button>
                                    <button class="btn" type='button' id="cancel">Cancel</button>
                                    <button type="reset" hidden id="reset"></button>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal for mobile screens -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="imagecard" id="modal_imagecard">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    GetDropdowns();

    let search = document.getElementById("search_byname");
    let category = document.getElementById("search_category");
    let resolution = document.getElementById("search_resolution");
    let sort = document.getElementById("sortby");

    let count_a = 0;
    let reachedfullend_a = false;

    let count_p = 0;
    let reachedfullend_p = false;

    let count_r = 0;
    let reachedfullend_r = false;

    //-------------- get allimages ------------------
    function GetImages(type, DisplayStart = 0, clearhtml=false) {

        $.get(
            "@Url.Action("GetImages", "ImageUploader")",
            {
                search: search.value,
                category_id: category.value,
                resolution_id: resolution.value,
                sorty_by: sort.value,
                type: type,
                displaystart: DisplayStart
            },
            function (data) {
                console.log("called");
                console.log(data);
                let count3 = 0;
                let appenddata = "";

                let column1 = document.getElementById("column1-" + type);
                let column2 = document.getElementById("column2-" + type);
                let column3 = document.getElementById("column3-" + type);

                let column4 = document.getElementById("column4-" + type);
                let column5 = document.getElementById("column5-" + type);

                let text1 = "";
                let text2 = "";
                let text3 = "";
                let text4 = "";
                let text5 = "";


                for (let item of data) {
                    let original_imagepath = item.ImagePath.slice(1);
                    item.ImagePath = original_imagepath;
                    item.ImagePath = item.ImagePath.slice(0, item.ImagePath.length - 5);

                    appenddata = '<div class="main-child imagecard" data-bs-target="#exampleModal" id="imagecard-' + item.Id + '" onclick="OpenModal(' + item.Id + ')">'
                        + '    <img src="' + original_imagepath + '" class="image" lazy="load"                                   '
                        + '                srcset="' + item.ImagePath + '_1200.JPEG 1200w,         '
                        + '                        ' + item.ImagePath + '_800.JPEG 800w,           '
                        + '                        ' + item.ImagePath + '_600.JPEG 600w,           '
                        + '                        ' + item.ImagePath + '_800.JPEG 400w,           '
                        + '                        ' + item.ImagePath + '_300.JPEG 300w,           '
                        + '                        ' + item.ImagePath + '_150.JPEG 150w "          '
                        + '                sizes="(max-width: 768px) calc((100vw - 60px)/3),                                              '
                        + '                       (min-width: 769px) calc((100vw - 35px)/2)                                           '
                        + '                       "                                                              '
                        + '                alt="image"                                                                                 '
                        + '                                                                                                            '
                        + '                                                                                                            '
                        + '>                                                                                                           '
                        + '    <h2 hidden class="title">' + item.Name + '</h2>'
                        + '                                                                                                           '
                        + '        <div class="overlay">                                                                              '
                        + '            <div class="imageshadow"></div>                                                                '
                        + '            <div class="icon-heart-wrapper">                                                               '
                        + '                <div class="d-flex justify-content-center align-items-center icon-heart-background" onclick="Like(' + item.Id + ')" id="itemL-' + item.Id + '">       '
                        + '                    <i class="fa fa-heart icon-heart"></i>                                                 '
                        + '                </div>                                                                                     '
                        + '            </div>                                                                                         '
                        + '            <div>                                                                                          '
                        + '                <a class="icon-download-wrapper" href="/Public/Download?id=' + item.Id + '">                                                          '
                        + '                    <div class="d-flex justify-content-center align-items-center icon-download-background" id="itemD-' + item.Id + '">'
                        + '                        <i class="fa fa-download accordion icon-download"></i>                             '
                        + '                    </div>                                                                                 '
                        + '                </a>                                                                                       '
                        + '            </div>                                                                                         '
                        + '            <div class="profile-wrapper ">                                                                 '
                        + '                <a class="profilelink-background" href="ImageUploader/index?id=' + item.UploaderId + '">                                                         '
                        + '                    <img class="profile-image" src="' + item.ProfilePath.slice(1) + '">                            '
                        + '                </a>                                                                                       '
                        + '                <p class="profile-name">' + item.Uploader + '</p>                                                      '
                        + '            </div>                                                                                         '
                        + '                                                                                                           '
                        + '        </div>                                                                                             '
                        + '</div>                                                                                                     ';

                    //append to 3 columns
                    if (count3 == 0) {
                        text1 += appenddata;
                        count3++;
                    }
                    else if (count3 == 1) {
                        text2 += appenddata;
                        count3++;
                    } else {
                        text3 += appenddata;
                        count3 = 0;
                    }

                    //append to 2 columns
                    if (data.indexOf(item) % 2 == 0) {
                        text4 += appenddata;
                    } else {
                        text5 += appenddata;
                    }
                }


                if (data.length == 0) {
                    console.log("data is empty");
                    if (type == "a")
                        reachedfullend_a = true;
                    else if (type == "p")
                        reachedfullend_p = true;
                    else
                        reachedfullend_r = true;
                }
                if (clearhtml) {
                    column1.innerHTML = text1;
                    column2.innerHTML = text2;
                    column3.innerHTML = text3;
                    column4.innerHTML = text4;
                    column5.innerHTML = text5;
                } else {
                    column1.innerHTML += text1;
                    column2.innerHTML += text2;
                    column3.innerHTML += text3;
                    column4.innerHTML += text4;
                    column5.innerHTML += text5;
                }
            }
        )
    }

    //get all images
    $(document).ready(GetImages("a"));

    search.addEventListener('change', function () { GetImages("a",0, true) });
    category.addEventListener('change', function () { GetImages("a",0, true) });
    resolution.addEventListener('change', function () { GetImages("a",0, true) });
    sortby.addEventListener('change', function () { GetImages("a",0, true) });
    //------------------- end -----------------------

    //------------------- get pending images -------
    $(document).ready(GetImages("p"));


    //------------------- get rejected images -------
    $(document).ready(GetImages("r"));


    //-------------- get dropdownlist ---------------
    function GetDropdowns() {
         $.get(
        "@Url.Action("Dropdownlist", "ImageUploader")",
        function (data) {
            if (data != null) {

                let optionstext = "";
                $.each(data.categories, function (index, row) {
                    optionstext += "<option value='" + row.Value + "'>" + row.Text + "</option>";
                })

                $("#Category").append(optionstext);
                //optionstext = "<option value='0' selected>Choose category<option>" + optionstext;
                $("#search_category").append(optionstext);

                optionstext = "";

                $.each(data.resolutions, function (index, row) {
                    optionstext += "<option value='" + row.Value + "'>" + row.Text + "</option>";
                })

                $("#Resolution").append(optionstext);
                //optionstext = "<option value='0' selected>Choose resolution<option>" + optionstext;
                $("#search_resolution").append(optionstext);
            }
        }
    )
    }

    //---------------- load more on end -------------------
    window.onscroll = function (ev) {
        if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
            console.log("I am called");
            if (!reachedfullend_a) {
                GetImages("a", count_a = count_a + 10, false)
            }
            if (!reachedfullend_p) {
                GetImages("p", count_p = count_p + 10, false)
            }
            if (!reachedfullend_r) {
                GetImages("r", count_r = count_r + 10, false)
            }
        }
    };

    //change column
    let resize = 0;
    if (screen.width > 768) {
        $("#galarytype1-a, #galarytype1-p, #galarytype1-r").show();
        $("#galarytype2-a, #galarytype2-p, #galarytype2-r").hide();
    } else {
        $("#galarytype1-a, #galarytype1-p, #galarytype1-r").hide();
        $("#galarytype2-a, #galarytype2-p, #galarytype2-r").show();
    }

    //hide profile
    if (screen.width < 500) {
        $(".profile-wrapper").hide();
    }

    //change of screen resize
    let currentWidth = 0;
    window.addEventListener("resize", function () {
        if (screen.width > 768) {
            if (resize != 1) {
                $("#galarytype1-a, #galarytype1-p, #galarytype1-r").show();
                $("#galarytype2-a, #galarytype2-p, #galarytype2-r").hide();
            }
            resize = 1;
        }
        else {
            if (resize != 0) {
                $("#galarytype1-a, #galarytype1-p, #galarytype1-r").hide();
                $("#galarytype2-a, #galarytype2-p, #galarytype2-r").show();
            }
            resize = 0;
        }

        if (screen.width < 500) {
            $(".profile-wrapper").hide();
        }
        else {
            $(".profile-wrapper").show();
        }

    })

    //onclick of the image for mobile devices

    function OpenModal(Id) {
        if (screen.width < 500) {
            $('#exampleModal').modal("show");
            $(".image").css("object-fit", "contain");
            $(".imagecard").css("width", "100%")

            let element = document.getElementById("imagecard-" + Id);

            let title = element.getElementsByClassName("title");

            document.getElementById("exampleModalLabel").innerHTML = title[0].innerHTML;

            /*$(".profile-wrapper").show();*/

            let modal = document.getElementById("modal_imagecard");
            modal.innerHTML = element.innerHTML;

            modal.getElementsByClassName("image")[0].removeAttribute("srcset");
            modal.getElementsByClassName("profile-wrapper")[0].show();
        }
    }

    $("#exampleModal").on("hide.bs.modal", function () {
        $(".imagecard").css("width", "44vw");
    })




    //-------------------------- image upload js ------------------------

    $(".drop_box2").hide();

    const dropArea = document.querySelector(".drop_box1");
    const button = dropArea.querySelector("button");
    const input = document.getElementById("ImageFile");

    let file;
    var filename;

    button.onclick = () => {
        input.click();
    };

    input.addEventListener("change", function (e) {
        var fileName = e.target.files[0].name;
        var filesize = e.target.files[0].size;

        $("#filename").text(fileName);
        $("#ImageSize").val((Math.round(filesize / 1024) / 1000).toFixed(2));

        $(".drop_box1").hide();
        $(".drop_box2").show();


    });


    $("#cancel").click(function () {
        input.value = "";
        $(".drop_box1").show();
        $(".drop_box2").hide();
    })

    //------------------------------ end ------------------------------------
    $("#upload").click(function () {

        let name = $("#Name").val();
        if (name == "") {
            $("#Name").focus();
            return false;
        }

        let formdata = new FormData(document.querySelector("#Uploadform"));
        formdata.append('file', $('#ImageFile')[0].files[0]);

        $("#upload-text").hide();
        $("#upload-loader").show();
        $.ajax({
            url: '@Url.Action("Upload", "ImageUploader")',
            type: 'POST',
            data: formdata,
            async: true,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            //xhr: function () {
            //    var xhr = new window.XMLHttpRequest();
            //    xhr.upload.addEventListener("progress", function (evt) {
            //        console.log(evt.loaded);
            //    });
            //},
            success: function (response) {
                let data = response.Message.split('*');
                 swal({
                     title: data[1],
                     icon: data[0]
                 })
                     .then((isConfirm) => {
                         if (isConfirm) {
                             if (response.Flag == true) {
                                 $(".drop_box1").show();
                                 $(".drop_box2").hide();
                                 $("#reset").click();
                             }
                             $("#upload-text").show();
                             $("#upload-loader").hide();
                         }
                     });

            },
            error: function (err) {
                swal("error occured", "", "error");
            }
        });



        return false;

    })

</script>