@model ImageStore.Data.EdmxModel.User_Details

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    .brandimageinternal {
        width: 150px;
        height: 150px;
        border: 1px solid black;
        border-radius: 50%;
    }
</style>

<div class="row w-100 justify-content-evenly">
    <div class="col-12 col-lg-6 ps-5 p-lg-0">
        <div class="text-center">
            <h1>Profile</h1>
        </div>
        @using (Html.BeginForm("UpdateUser", "UploaderProfile", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.ProfileImage, new { @type = "file", @hidden = "true" })

            <div class="d-flex justify-content-center mb-5 gap-5">
                <div>
                    <img src="@Model.Profile.Trim('~')"
                         class="rounded-circle brandimageinternal">
                </div>
                <div>
                    @*@Html.EditorFor(x => x.ProfileImage, new { htmlAttributes = new { @class = "form-control", @type = "file" } })*@
                    <button class="btn btn-success  p-2 mt-5" type="button" id="change_profile">Change Image</button>
                </div>

            </div>

            <div class="row w-100">
                <div class="col-sm-6 col-12 mb-3">
                    <label class="form-label">Full Name</label>
                    @Html.EditorFor(model => model.Full_Name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                </div>
                <div class="col-sm-6 col-12  mb-3">
                    <label class="form-label">Email</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                </div>
                <div class="col-sm-6 col-12  mb-3">
                    <label class="form-label">Date Of Birth</label>
                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="col-sm-6 col-12  mb-3">
                    <label class="form-label">Contact</label>
                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @type = "number" } })

                </div>
                <div class="col-sm-6 col-12 mb-3 pe-0 me-0">
                    <label class="form-label">Password</label>
                    <input class="btn btn-primary form-control" type="button" value="change password" data-bs-toggle="modal" data-bs-target="#id1" />
                </div>
                <div class="col-12 mb-3">
                    <h1>About you</h1>
                </div>
                <div class="col-12 mb-3">
                    <lablel class="form-label">Short Bio</lablel>
                    @Html.TextAreaFor(model => model.Bio, new { @class = "form-control", @rows = 5 })
                </div>
                <div class="col-12 mb-3 text-center">
                    <button class="btn btn-success" type="submit">
                        Save Profile
                    </button>
                </div>
            </div>
        }

        <div class="modal fade " id="id1" aria-hidden="false" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title"> CHANGE PASSWORD </div>
                        <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("changepassword", "UploaderProfile", FormMethod.Post, new { @id = "passwordform" }))
                        {
                            <div class="row flex-fill">
                                <div class="col-12 mb-2">
                                    <label class="form-label">Old Password</label>
                                    <input class="form-control" name="oldpass" id="oldpass" type="password" />
                                </div>
                                <div class="col-12 mb-2">
                                    <label class="form-label">New Password</label>
                                    <input class="form-control" name="password" id="pass" type="password" />
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Confirm Password</label>
                                    <input class="form-control" type="password" id="confirmpass" />
                                </div>
                                <div id="errortex" class="text-danger"></div>
                            </div>
                        }

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit" id="savepass"> save changes</button>
                    </div>
                </div>
            </div>
        </div>



    </div>


</div>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
             window.onload = function () {
                swal("@TempData["message"]", "", "@TempData["messagetype"]");
            };
    </script>
    TempData["message"] = null;
}

<script type="text/javascript">
    $("#change_profile").click(function () {
        $("#ProfileImage").click();
    })

    //save password
    $("#savepass").click(function () {
        let oldpass = $("#oldpass").val();
        let password = $("#pass").val();
        let confirmpass = $("#confirmpass").val();

        if (password == "" || confirmpass == "" || oldpass == "") {
            $("#errortex").text("Please enter both passwords!!");
            return false;
        }

        if (password != confirmpass) {
            $("#errortex").text("Passwords do not match!!");
            return false;
        }

        $("#passwordform").submit();
    })
</script>